.App {
  text-align: center;
  margin-top: 5vh;

}

.blue{
  color: rgb(51, 51, 255);
}
.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.imagenbase{
  width: 95vw;
  height: 95vw;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
}